.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style: none;
}
.item {
  & + & {
    margin-left: 25px;
  }
}

.link {
  text-decoration: none;
  color: rgb(250, 248, 248);
  font-size: 20px;
  font-weight: 700;
}

.linkActive {
  color: rgb(247, 12, 12);
}
